.link{
    background-color: #393E46;
    color: aliceblue;
    padding: 30px;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    min-width: 100px;
}
.hcontainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px; 
    align-items: center;  
    width: 99vw;
}

