.button{
    background-color: #15191f94;
    color: aliceblue;
    padding:30px;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    min-width: 100px;
    border-radius: 8px;
}

.sButton{
    min-width: fit-content;
    padding: 10px 30px;
}

.finish{
    margin-left: 25%;
    /* margin: auto; */
}

.button:hover{
    background-color: #15191fe4;
    cursor: pointer;
}

.hcontainer{

    display: flex;
    flex-direction: column;
    gap: 50px; 
    align-items: center;  
    width: 99vw;    
    margin-top: 100px;
}
@media screen and (max-width: 650px) {
    .finish{

        margin: auto;
        margin-top: 40px;
        margin-bottom:40PX ;
        width: 100px;
        padding: 20px;
        text-align: center;
    }
    
}