.button{
    background-color: #15191f94;
    color: aliceblue;
    padding:30px;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    min-width: 100px;
    border-radius: 8px;
}
.sButton{
    min-width: fit-content;
    padding: 10px 30px;
}
.button:hover{
    background-color: #15191fe4;
    cursor: pointer;
}
.hcontainer{

    display: flex;
    flex-direction: column;
    gap: 50px; 
    align-items: center;  
    width: 99vw;    
    margin-top: 100px;
}
