.Ccontainer{
    background-color: #1c2028;
    padding: 20px 0px;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 30px;
}

.Rcon{
    display: flex;
}

.color:hover{
    transform: translateX(3px);
    cursor: pointer;
}