.Ccontainer{
    background-color: #1c2028;
    padding: 20px 0px;
    border-radius: 10px;
    margin-top: 45px;
    margin-left: 30px;
    margin: auto;
}

.Rcon{
    display: flex;
}

.color{
    width:40px;
    height: 40px;
    border-radius:8px;
    margin: 10px;
}

.color:hover{
    transform: translateX(3px);
    cursor: pointer;
}

@media screen and (max-width: 650px) {

    .Ccontainer{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding: 10px 10px;
    }

    .color{
        width: 20px;
        height: 20px;
        border-radius: 3px;
        margin: 8px;
    }

    .color:hover{
        transform: translateY(3px);
        cursor: pointer;
    }
}